<a href="https://colab.research.google.com/github/Someya-Gaku/Python_study/blob/main/Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, world !")

x = "aiueo"
print( x )

print(x[0])
x[3]

hello, world !
aiueo
a

'e'

In [ ]:
print (1 + 1) #足し算
print (2 * 5) #掛け算
print (10 ** 3) #10の3乗

2
10
1000

In [ ]:
x[5] #↓範囲外なのでエラーが出ている

IndexError: ignored

In [ ]:
a = 1
a = a + 29
print (a)

30

In [ ]:
#リスト (角かっこを使う [])
number_list = [1,2,3,4,5,6,7,8,9,10]

number_list.append(30)              #number_listに要素を追加
number_list.extend([50, 100, 1000]) #number_listにリスト型で要素を追加

print(number_list)                  #number_listを出力

print (type(number_list))           #number_listという変数のタイプを出力 type(number_list)だけだと list と出力される
print (number_list[5])              #number_listの6番目
len(number_list)                    #number_listの長さ


#リストに対して + 演算子を使用すると、別のリストと結合して新しいリストを作成することができます。

#リストA + リストB
#2つのリストの要素を持つ新しいリストを作成します。

#具体的には次のように記述します。

#list1 = ["A", "B"]
#list2 = ["C", "D"]
#list3 = list1 + list2
#print(list3)
#--> ["A", "B", "C", "D"]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 50, 100, 1000]
<class 'list'>
6

14

In [ ]:
number_list * 2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 30,
 50,
 100,
 1000,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 30,
 50,
 100,
 1000]

In [ ]:
number_list_x2 = []                            #入れ物(リスト型)を作成

print ("---")
number_list_x2 = [i * 2 for i in number_list]  #数字をiへ1ずつ代入して2倍したものを作成した入れ物へ突っ込む（for文の内包表記 → 別のリストを新たに作成する方法）p22
print (number_list_x2)                         #入れ物を出力
print (number_list)

print ("---")

#内包表記を使って、指定した整数のみで新しいリストを作成する　p22
print (number_list)
print ([i * 2 for i in number_list if i % 2 == 0])  #number_listの中から条件(i%2 == 0)に合うものをiへ代入して2倍した整数リストを出力 →この場合、(2,4,6,8,10,30,50,100,1000)が該当する

---
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 60, 100, 200, 2000]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 50, 100, 1000]
---
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30, 50, 100, 1000]
[4, 8, 12, 16, 20, 60, 100, 200, 2000]

In [ ]:
#リストの中身に関数を定義させる方法で2倍にする // 詳しくは後述
list(map(lambda x : x * 2, [1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#辞書型 (波かっこを使う {} ){キー:値}の形
dic_data = {"apple":100, "banana":200, "olenge":500}  # 数字:"文字" でも問題無し
print ( dic_data )
print ( dic_data ["banana"])

print (dic_data ["banana"] + dic_data["olenge"])   #辞書型同士で四則演算

{'apple': 100, 'banana': 200, 'olenge': 500}
200
700

In [ ]:
dic_data["melon"] = 700 # "melon"がなければ追加。あれば 700へ値を更新する
print (dic_data)

{'apple': 100, 'banana': 200, 'olenge': 500, 'melon': 700}

In [ ]:
#辞書型を使って要素を追加、更新する
#＊辞書型.update(追加元の辞書型)＊
SUB_dic_data = {"apple":777, "lemon":1500}

dic_data.update(SUB_dic_data)
print(dic_data)

#for文を使って辞書型のキーを基準に中身を表示させる {キー:値}の形
for dic_key in dic_data:
  print(dic_key, dic_data[dic_key])

print ("---")

#for文と.items()メソッドを使って辞書型のキーと値を同時に表示
for dic_key, dic_value in dic_data.items():
  print (dic_key, dic_value)

{'apple': 777, 'banana': 200, 'olenge': 500, 'melon': 700, 'lemon': 1500}
apple 777
banana 200
olenge 500
melon 700
lemon 1500
---
apple 777
banana 200
olenge 500
melon 700
lemon 1500

In [ ]:
# if文 ":"を必ず入れる ←忘れがちなので重要
number_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

find_number = 5

if find_number in number_data:
    # 真(number_dataの中にfind_numberがある)の場合
    print ("{0}があります" .format(number_data))
    print ("{0}があります" .format(number_data[4]))
    print ("{0}があります" .format(find_number))
else:
     # 偽(number_dataの中にfind_numberがない)の場合
     print ("{0}がありません" .format(find_number))

# "[]" (角カッコ)ではなく"{}" (波カッコ)であることに注意
# ":"を入れ忘れると以下のエラーが出る
#「SyntaxError: expected ':'」

#.format()は、"変数などを文字列に入れることができる方法"
#たとえば、以下のように入れると
#print ("{0}と{1}、{3}+{4}！" .format(1,2,3,4,5,6,7,8,9,10))
#1と2、4+5！
#と表示される（文字列なので計算はできない？）

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]があります
5があります
5があります

In [ ]:
# for文　":"を必ず入れる ←忘れがちなので重要

for_total = 0 #初期値

for numbers in [1, 2, 3, 4, 5]:
  print ("順番に取り出してnumbersに代入 : ", numbers)
  for_total = for_total + numbers
  print ("現在のfor_total : ", for_total) #途中経過

#インデントが大事
print ("最終結果 : ", for_total)

順番に取り出してnumbersに代入 :  1
現在のfor_total :  1
順番に取り出してnumbersに代入 :  2
現在のfor_total :  3
順番に取り出してnumbersに代入 :  3
現在のfor_total :  6
順番に取り出してnumbersに代入 :  4
現在のfor_total :  10
順番に取り出してnumbersに代入 :  5
現在のfor_total :  15
最終結果 :  15

In [ ]:
#range関数 (連続した整数を作成できる)　p20

for i in range(11):  #11なので、0～10の11個の整数
  print ("print(i)の場合:", i)
  print ("print(i+1)の場合:", i+1)
  print ("---")

#for文終了後
print (i)
print ("{0}" .format(i))

print(i)の場合: 0
print(i+1)の場合: 1
---
print(i)の場合: 1
print(i+1)の場合: 2
---
print(i)の場合: 2
print(i+1)の場合: 3
---
print(i)の場合: 3
print(i+1)の場合: 4
---
print(i)の場合: 4
print(i+1)の場合: 5
---
print(i)の場合: 5
print(i+1)の場合: 6
---
print(i)の場合: 6
print(i+1)の場合: 7
---
print(i)の場合: 7
print(i+1)の場合: 8
---
print(i)の場合: 8
print(i+1)の場合: 9
---
print(i)の場合: 9
print(i+1)の場合: 10
---
print(i)の場合: 10
print(i+1)の場合: 11
---
10
10

In [ ]:
#range関数 (飛ばし飛ばしで連続した整数を作成)？ p021

for i in range(1, 11, 2): #(最初の数, (最後の値) ＋１, 飛ばす数) →１からはじまり、10まで取り出して、2つ飛ばしで表示
  print (i)

1
3
5
7
9

In [ ]:
#zip関数 (異なるリストから1番目、2番目…と同時に取りだしていく)
for one, two in zip ([1,2,3], [10,11,12]):
  print (one, "と", two)
  print ("加算：", one + two)

1 と 10
加算： 11
2 と 11
加算： 13
3 と 12
加算： 15

In [ ]:
#while文 (条件を満たしている間のみ繰り返す)

number_while = 0 #初期値

while number_while <= 10:
  print (number_while)
  number_while = number_while + 1

print ("最後の値は{0}です".format(number_while))

0
1
2
3
4
5
6
7
8
9
10
最後の値は11です

In [ ]:
#関数 (一連の処理を簡単にするために、関数を定義（作成）することができる)
def calc_multi (a, b):  #calc_multiという名前の関数、引数にaとbを使う
  return a * b          #calc_multiで a * bを計算して返却する

#関数の実行（関数の呼び出し）
calc_multi(4, 25)

100

In [ ]:
#関数は引数や返り値(return)がなくても作成できる
def calc_message():
  print("関数の実行結果")

calc_message()

関数の実行結果

In [ ]:
#map関数を使ってリストに対して関数を使う方法
def map_test(x):
  return x*2

for map_number in [1,2,3]:
  print(map_test(map_number))

print("---")
list(map(map_test, [1,2,3]))  #mapを用いてリスト[1,2,3]をそれぞれxに代入して2倍したリストを作成

2
4
6
---

[2, 4, 6]

In [ ]:
#無名関数 (関数を定義して呼び出すのではなく、直接的に関数を記述できる。 lambdaを使う)
#リストなどの要素に対して何か関数を実行したいときによく使う
(lambda a, b: a * b)(4, 25)

100

In [ ]:
lambda_test = [1,2,3,4,5]
list(map(lambda x : x * 2,lambda_test))  #list(map(lambda x : x * 2, [1,2,3,4,5]))でも同じ実行結果になる

[2, 4, 6, 8, 10]

In [ ]:
#再帰関数(関数の中で関数を呼び出すもの) (フィボナッチ数列を作成する(1つ前の数を足し合わせていく数列))

def calc_fib(n):
  if n == 1 or n == 2:
    return 1
  else:
    return calc_fib(n - 1) + calc_fib(n - 2)

print("1, 1, 2, 3, 5, 8, 13...")
print("フィボナッチ数:", calc_fib(6)) #この関数に6を指定すると…

1, 1, 2, 3, 5, 8, 13...
フィボナッチ数: 8

In [ ]:
#map関数とabs関数 (abs()は引数を1つ取り、その値の絶対値を返す関数)
list(map(abs, [-1,2,3,-4,5,6,-7,8,-9,-10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#filter関数(filter())はリストやタプルの要素のうち関数を適用した結果が True となるものだけをイテレータとして返す関数
list (filter(lambda x :abs(x) > 5, [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]))

#lambda(無名関数で xの絶対値が5よりも大きいものだけを取り出してfilterにかけている)

[-6, 7, -8, 9, -10]

In [ ]:
#reduce関数(reduce()) はリストやタプルの要素を足しあわせたりかけあわせたりする関数で「畳み込み」演算とも呼ばれる
#reduce(《関数(func)》,《list》)

from functools import reduce  # python 3 では必要

reduce_test1 = [-1, 3, -5, 7, -9]
reduce(lambda x, y: x + y, reduce_test)

-5

In [ ]:
from operator import add #  Python では演算子である + を reduce に渡すようなことはできないため、 + のかわりに add を使う

reduce_test2 = [-1, 3, -5, 7, -9]
print(reduce(add, reduce_test))

-5

In [ ]:
#練習問題1-1
#ある文字列(Data Science)を変数へ格納して、それを1文字ずつ表示させるプログラムを作成しなさい。

practice1_1 = "Data Science"

#解答1
for i in practice1_1:
  print (i)

print("---")

#解答2
for i in range(0, len(practice1_1)):
  print(practice1_1[i])

print("---")

#解答3
for i in practice1_1:
    print(i, end = " ")

D
a
t
a

S
c
i
e
n
c
e
---
D
a
t
a

S
c
i
e
n
c
e
---
D a t a   S c i e n c e

In [ ]:
#練習問題1-2
#1～50までの自然数の和を計算し、最終結果を表示させなさい。(答えは1275になる)

#解答1
total1 = 0 #初期値

for i in range(50):   # iに、0～49の値を1つずつ入れる
  i = i + 1           # iのそれぞれに1を足すことで、1～50の数列にする
  total1 = total1 + i   #1～50の数列を変数totalに１つずつ入れていく

print (total1)         #最終結果(total)を表示

#解答2
total2 = 0
for x in range(1,51):
  total2 += x   #total2 = total2 + xと同じ
print(total2)

#解答3
print(sum(x for x in range(1,51)))  #sum関数は要素の数値の合計を求める関数

#sumの使用例
#xs = [0, 1, 2, 3, 4]
#print(sum(xs))         → 10
#print(sum(xs, 20))     → 30

1275
1275
1275

In [ ]:
#クラス(鯛焼きの型のようなイメージ)とインスタンス(鯛焼きの種類:クリーム鯛焼き、あんこ鯛焼き…などのイメージ)

#class_testというクラスを作成し、class_printという関数(メソッド)の作成
class class_test:
  def class_print(taiyaki):
    print(taiyaki.x, taiyaki.y)

inst_test1 = class_test() #作成したクラスを元にインスタンスの作成

#インスタンスの中身(属性の値を代入)
inst_test1.x = 10
inst_test1.y = 100
inst_test1.z = 1000

inst_test1.class_print() #作成したclass_print関数の呼び出し

#inst_test1に "=" でクラスclass_testを入れているので、クラスclass_test内での作成した関数class_printの引数であるtaiyakiに、inst_test1が入る。
#そして、print(taiyaki.x, taiyaki.y)が print(inst_test1.x, inst_test1.y)になり、出力される。

print ("---")
inst_test1.z  #inst_test1.zを表示させる

10 100
---

1000

In [ ]:
#クラスclassとインスタンスinstanceとコンストラクタconstructor

class MyClass_keisan:

  #コンストラクタ(__init__)：オブジェクト生成時に呼び出される特殊な関数、初期化など
  def __init__ (keisan, x, y):
    keisan.x = x
    keisan.y = y

  def calc_add1(keisan, a, b):
    return a + b

  def calc_add2(keisan):
    return keisan.x + keisan.y

  def calc_multi(keisan, a, b):
    return a * b

  def calc_print(keisan, a):
    print ("data：{0}、yの値：{1}" .format(a, keisan.y))

In [ ]:
instance_1 =  MyClass_keisan(1, 2)   #__inst__が実行されて、xとyにそれぞれ1と2が代入される。
instance_2 = MyClass_keisan(5, 10)  #__inst__が実行されて、xとyにそれぞれ5と10が代入される
#は、__init__ がクラス内で定義されていないとき、「TypeError: MyClass_keisan() takes no arguments」が出る

#インスタンスの関数(メソッド)を呼び出す

#引数5と3がcalc_add1に基づいて加算し返却
print('２つの数の足し算（新たな数字に引数としてセット）:', instance_1.calc_add1(5, 3))

#calc_add2の引数がセットされていないので、instance_1の初期値である1と2をcalc_add2に基づいて加算し返却
print('２つの数の足し算（インスタンス化の時の値）      :', instance_1.calc_add2())

#引数5と3をcalc_multiに基づいて計算して返却
print('２つの数のかけ算（）                            :', instance_1.calc_multi(5, 3))

#関数calc_printの引数の初期値aを5として設定して、calc_printを実行する
#print ("data：{0}、yの値：{1}" .format(a, keisan.y))　がcalc_printの関数の中身
instance_1.calc_print(5)

print ("---")

#以下は、instance_2で上と同じことをしている
print('２つの数の足し算（新たな数字に引数としてセット）:', instance_2.calc_add1(10, 3))
print('２つの数の足し算（インスタンス化の時の値）      :', instance_2.calc_add2())
print('２つの数のかけ算（）                            :', instance_2.calc_multi(4, 3))
instance_2.calc_print(20)

２つの数の足し算（新たな数字に引数としてセット）: 8
２つの数の足し算（インスタンス化の時の値）      : 3
２つの数のかけ算（）                            : 15
data：5、yの値：2
---
２つの数の足し算（新たな数字に引数としてセット）: 13
２つの数の足し算（インスタンス化の時の値）      : 15
２つの数のかけ算（）                            : 12
data：20、yの値：10

In [ ]:
#総合問題1-1-1
#10までの素数を表示させるプログラムを作成しなさい。

#解答1
n_list = range(2, 10 + 1) #2～10までの整数を作成

for i in range(2, int(10 ** 0.5) + 1):
    #2, 3, ...と順に割り切れるかを調べていく
    n_list = [x for x in n_list if(x == i or x % i != 0)]

for j in n_list:
    print(j)

2
3
5
7

In [ ]:
#総合問題1-1-2
#上記をさらに一般化して、Nを自然数としてNまでの素数を表示する関数を作成しなさい。

#解答2
def calc_prime_num(N):
    n_list = range(2, N + 1)

    for i in range(2, int(N ** 0.5) + 1):
        #2, 3, ...と順に割り切れるかを調べていく
        n_list = [x for x in n_list if(x == i or x % i != 0)]

    for j in n_list:
        print(j)
#計算実行
calc_prime_num(30)

2
3
5
7
11
13
17
19
23
29